* text=auto
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.slnx text eol=lf
*.xml text eol=lf
*.config text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.json text eol=lf
*.dll binary
*.exe binary
*.elf binary
*.bin binary
*.img binary
*.apk binary
*.pdb binary
.gitattributes export-ignore
.gitignore export-ignore
